body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;
    padding: 1em;
    gap: 1em;
}

#set-exercise{
    display: none;
    padding: 1em;
    margin: 1em;
}

div{
    padding: .5em;
}
